body {
  margin: 0;
  padding: 0;
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', sans-serif;
}
.content{
  background-color: #5c86c5;

}
a {
  color: white;
  font-size: 2vw;
  display: inline-block;
}

.h1, p.title {
  font-size: 3vw;
}


.navbar{
  background-color: #1b2431;
  align-items: stretch;
  display: flex;
}
.navbar-brand {

  background-color: #bcbdc0;
  align-items: stretch;
  display: inline;
}

.navbar-menu {
  background: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  font-size: 3em;
  width: 100;
}

.navbar-item {
  color: white;
  padding: 0;
  list-style: none;
  font-size: 8em;
}

.control {
  text-align: center;
}

.ISSPanel {
  background-color: #070708;
  z-index: 5;
  text-align: center;
  display: inline;
}

.column.is-4, .column.is-4-tablet {
  flex: none;
  width: 33.3%;
}

.title {
  text-align: center;
  font-size: 2vw;
}

.tile:not(.is-child) {
  display: block;
}

.spacediv {
  z-index: 3;
  display: flex;
}

.section {
  padding: 0;
}

.apod {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

#titleApp, #animateT {
  text-align: center;
  font-family: Helvetica;
  font-size: 10vw;
  font-family: sans-serif;
  font-weight: bold;
  align-self: center;
  color: white;
}

#issColumn {
  margin-left: 8%;
  margin-right: 8%;
  font-size:25px;
  font-weight: bold;
  display:block;
}

#apodTile {
  align-items: center;
  overflow: auto;
  margin-left:auto;
  margin-right:auto;

}

#apodLink {
  font-size: 1vw;
  color: white;
  padding: 20px;
}
.notification.is-info{
  background-color: #1b2431;
}
span {
  display: inline-block;
}

#info {
  font-size: 3vh;
  color:white;

}
.title{
  text-align: center;
}
#spaceImg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#Sdate {
  font-size: 2vw;
  text-align: center;
}

#spaceTitle {
  text-align: center;
}

#map-header {
  padding-top: 5%;
  color:white;
  font-size:25px;
}

.Row {
  display: table;
  width: 90%; /*Optional*/
  table-layout: fixed; /*Optional*/
  text-align: left;
}
.Column {
  display: table-cell;
  text-align: center;
  padding-left:200px;
  width:450px;
}
.sat-title{
  font-size: 45px;
  text-align:center;
}
#timeStamp{
  text-align: center;
  font-size: 15px;
}

#satName, #satName2, #satName3{
  font-size:25px;
}