body {
  margin: 0;
  padding: 0;
  background: #000000; /* fallback for old browsers */
  font-family: "Raleway", sans-serif;
}
.content {
  background-color: #000000;
}
a {
  color: white;
  font-size: 2vw;
  display: inline-block;
}

.h1,
p.title {
  font-size: 3vw;
}

.sub-head {
  margin-bottom: 15px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: #00273f;
  display: flex;
}

.navbar-brand {
  background-color: #bcbdc0;
  align-items: stretch;
  display: inline;
}

.navbar-menu {
  background: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  font-size: 3em;
  width: 100;
}

.navbar-item {
  color: white;
  padding: 0;
  list-style: none;
  font-size: 8em;
}

.control {
  text-align: center;
}

.ISSPanel {
  background-color: #000000;
  z-index: 5;
  text-align: center;
  display: inline;
  padding-bottom: 5%;
}

.title {
  text-align: center;
  font-size: 3vw;
}

.tile:not(.is-child) {
  display: block;
}

.spacediv {
  z-index: 3;
  display: flex;
}

.section {
  padding: 0;
}

.apod {
  display: flex;
  align-self: center;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

#titleApp,
#animateT {
  text-align: center;
  font-family: Helvetica;
  font-size: 9vw;
  font-family: sans-serif;
  font-weight: bold;
  align-self: center;
  color: #0b76de;
  text-shadow: 2px 2px #1c1a74;
}

#issColumn {
  font-size: 1rem;
  display: inline-block;
  padding-bottom: 5%;
}

#apodLink,
#virtual {
  color: white;
  padding: 20px;
}

#iss {
  font-size: 3rem;
  text-align: center;
}
#facts {
  font-size: 2rem;
}

#roster {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#roster-col {
  margin-left: 30%;
  margin-right: 30%;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.notification.is-info {
  background-color: #1b2431;
}
span {
  display: inline-block;
}

#info {
  font-size: 3vh;
  color: white;
  padding: 20px;
}
.title {
  text-align: center;
  padding-top: 5%;
}
#spaceImg {
  width: 600px;
}
.img-apod {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
#Sdate {
  font-size: 2vw;
  text-align: center;
  color: white;
}

#spaceTitle {
  text-align: center;
}

#map-header {
  padding-top: 3%;
  color: white;
  font-size: 2rem;
}

#plots {
  padding: 10px;
  display: inline-table;
  margin-left: 5%;
  margin-right: 5%;
}
.Row {
  display: table;
  width: 90%; /*Optional*/
  table-layout: fixed; /*Optional*/
  text-align: left;
}
.Column {
  display: table-cell;
  text-align: center;
  width: 450px;
  align-items: center;
  justify-content: center;
}
.sat-title {
  font-size: 45px;
  text-align: center;
}

#timeStamp {
  text-align: center;
  font-size: 15px;
  margin-bottom: -30px;
}

#currentT {
  font-size: 1.5vw;
  text-align: center;
  color: aliceblue;
}
#satName,
#satName2,
#satName3 {
  font-size: 25px;
}

#apod {
  width: flex;
}

.center {
  display: block;
  margin-left: 60%;
  margin-right: auto;
  width: 50%;
}

.container2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 990px) {
  #apodLink {
    white-space: nowrap;
    font-size: 0.7rem;
  }

  #banner {
    display: none;
  }
  #titleApp {
    font-size: 9vh;
  }
  #iss {
    font-size: 1rem;
  }
  .sub-head {
    font-size: 2rem;
  }
  #facts {
    font-size: 1rem;
  }
}

/* IphoneX size */
@media only screen and (max-width: 812px) and (min-width: 375px) {
  #iframe.column {
    padding-left: 0;
  }
  #titleApp {
    font-size: 4rem;
  }
  .sub-head {
    font-size: 1.3rem;
    font-weight: bold;
  }
  #apodLink {
    white-space: nowrap;
    font-size: 0.7rem;
  }
  #navlogo,
  #navlogo2 {
    display: none;
  }
  #currentT {
    font-size: 3.5vw;
    text-align: center;
    color: aliceblue;
  }

  #roster-col {
    margin-left: 5%;
    margin-right: 5%;
  }

  #roster-container {
    margin-left: 1%;
  }
  .columns {
    padding: 2%;
  }
  #iss {
    margin-top: -40%;
  }
}
