body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-image: url("images/nebula.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
}

a {
  color: white;
  display: inline-block;
}


.h1{
  font-size: 3vw;
}

.sub-head {
  color: cornsilk;
  margin-bottom: 15px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px #1c1a74;
}
.navbar {
  background-color: #00273f;
  display: flex;
  height:100px;
}

.navbar-link{
  margin-right: 100px;
}
.navbar-link:hover{
  background-color: rgb(106, 163, 250);

}
.navbar-item {
  color: white;
  padding: 0;
  list-style: none;
  padding-right: 15px;
  font-size: 2.5vh;
}
a.navbar-item:hover{
  background-color: rgb(106, 163, 250);
  color:white;
}
.navbar-dropdown{
  background-color: rgb(106, 163, 250);
}


.title {
  text-align: center;
  font-size: 3vw;
}


#tweetdiv {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
}
.section {
  padding: 0;
}
.currentPeople {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#spacepeeps {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#astronames {
  text-align: center;
  list-style: none;
}
.livevid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#titleApp,
#animateT {
  text-align: center;
  font-family: Helvetica;
  font-size: 9vw;
  font-family: sans-serif;
  font-weight: bold;
  align-self: center;
  color: #0b76de;
  text-shadow: 2px 2px #1c1a74;
}


#apodLink,
#virtual {
  color: white;
  padding: 20px;
}

#iss {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px #602add;
}

.pdfnasa {
  height: 900px;
  width: 800px;
  min-width: auto;
  min-height: auto;
}

#roster-col {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 8%;
  background-color: #0b3f72;
  text-shadow: 2px 2px #1c1a74;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

span {
  display: inline-block;
}


.title {
  text-align: center;
  padding-top: 5%;
}

.column {
  display: table-cell;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}


#currentT {
  font-size: 1.5vw;
  text-align: center;
  color: aliceblue;
}



/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 990px) {
  #apodLink {
    white-space: nowrap;
    font-size: 0.7rem;
  }

  #banner {
    display: none;
  }
  #titleApp {
    font-size: 9vh;
  }
  #iss {
    font-size: 1rem;
  }
  .sub-head {
    font-size: 2rem;
  }
  #facts {
    font-size: 1rem;
  }
}

/* IphoneX size */
@media only screen and (max-width: 812px) and (min-width: 375px) {
  #iframe.column {
    padding-left: 0;
  }
  #titleApp {
    font-size: 4rem;
  }
  .sub-head {
    font-size: 1.3rem;
    font-weight: bold;
  }
  #apodLink {
    white-space: nowrap;
    font-size: 0.7rem;
  }
  .navbar {
    background-color: #00273f;
    display: flex;
    height:200px;
  }
  #navlogo,
  #navlogo2 {
    display: none;
  }
  .navbar-dropdown{
   display: none;
  }
  #currentT {
    font-size: 3.5vw;
    text-align: center;
    color: aliceblue;
  }

  #roster-col {
    margin-left: 5%;
    margin-right: 5%;
  }

  #roster-container {
    margin-left: 1%;
  }
  .columns {
    padding: 2%;
  }
  #iss {
    margin-top: -40%;
  }
  .pdfnasa {
    height: 100%;
    width: 200px;
  }
}
